.faq_section {
  margin-top: 5%;
}

.faq {
    margin-top: 2%;
    font-size: 2.3em;
}

p.answer {
    font-size: 1.7em;
    margin-bottom: 5%;
    margin-top: 1%;
    text-align: justify;
    width: 90%;
    word-wrap: break-word;
    margin-left: 0;
}
